/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #086262;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f3f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   filter: blur(70%);
}
.container img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
}


.container p {
    text-align: center;
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left; /* Mantém o alinhamento do texto à esquerda */
    width: 100%; /* Largura total do container */
    
}


input[type="number"],
select {
    width: 100%; /* Largura total do container */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não afete a largura */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.hidden {
    display: none;
}

#result {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input[type="number"],
    select {
        width: 100%;
    }

    button {
        padding: 12px;
        font-size: 16px;
    }
}

